<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <center>
        <h1>Welcome to Book Gallery</h1>
    <div class="list-inner">
        <% if(books.length!=0){ %>
            <% books.forEach((book,i)=>{ %>
             <div class="list-container">
               <h3> <u><%= book.title %></u> </h3>
                Genre: <%= book.genre %> <br>
                Author: <%= book.author %> <br>
                <hr>
             </div>
            <% }) %> 
        <% }else{ %>
            no books to display
        <% } %> 
    </div>
</center>
</body>
</html>


            

